/* RESETS */

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}

img,
video {
  max-width: 100%;
  /* height: auto; */
  display: block;
}

@font-face {
  font-family: "Karla";
  src: url(/assets/fonts/Karla-VariableFont_wght.ttf);
}

:root {
  /* COLORS */
  --clr-grey-900: rgb(42, 65, 68);
  --clr-grey-600: rgb(12, 125, 105);
  --clr-grey-300: #c5d1d2;
  --clr-grey-500: rgb(134, 162, 165);
  --clr-grey-200: rgb(224, 241, 232);
  --clr-white: rgb(255, 255, 255);
  --clr-red: rgb(215, 60, 60);

  /* TYPOGRAPHY */

  /* Genel Özellikler */
  --fs-32: 32px;
  --fs-18: 18px;
  --fs-16: 16px;
  --fw-bold: bold;
  --fw-regular: normal;
  --lh-100: 100%;
  --lh-150: 150%;
  --ls-neg-1: -1px;
  --ls-0: 0px;

  /* Heading */
  --heading-fs: var(--fs-32);
  --heading-fw: var(--fw-bold);
  --heading-lh: var(--lh-100);
  --heading-ls: var(--ls-neg-1);

  /* Body Medium Bold */
  --body-md-bold-fs: var(--fs-18);
  --body-md-bold-fw: var(--fw-bold);
  --body-md-bold-lh: var(--lh-150);
  --body-md-bold-ls: var(--ls-0);

  /* Body Medium Regular (18px) */
  --body-md-regular-18-fs: var(--fs-18);
  --body-md-regular-18-fw: var(--fw-regular);
  --body-md-regular-18-lh: var(--lh-150);
  --body-md-regular-18-ls: var(--ls-0);

  /* Body Small Regular (16px) */
  --body-s-regular-fs: var(--fs-16);
  --body-s-regular-fw: var(--fw-regular);
  --body-s-regular-lh: var(--lh-150);
  --body-s-regular-ls: var(--ls-0);

  /* SPACING */

  --spacing1600: 128px;
  --spacing500: 40px;
  --spacing400: 32px;
  --spacing300: 24px;
  --spacing200: 16px;
  --spacing150: 12px;
  --spacing100: 8px;
}

/* GENERAL */

a:link,
a:visited,
a:hover,
a:active {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

footer {
  text-align: center;
}

.attribution a {
  color: var(--clr-grey-900);
}

body {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  background-color: #e3f1e8;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 0.03em;
}

.container {
  padding: 1.5rem;
  background-color: var(--clr-white);
  border-radius: 1rem;
  font-weight: 300;
  width: max(100%, 343px);
}

.heading {
  margin-bottom: 1.95rem;
  color: var(--clr-grey-900);
  font-size: var(--heading-fs);
  line-height: var(--heading-lh);
  letter-spacing: var(--heading-ls);
}

form {
  display: flex;
  flex-direction: column;
}

.contact-form,
.query-type {
  color: var(--clr-grey-900);
  font-size: var(--body-s-regular-fs);
  line-height: var(--body-s-regular-lh);
}

.contact-form input {
  border: 1px solid var(--clr-grey-500);
  border-radius: 0.5rem;
  padding: 0.77em;
  padding-left: 1.3em;
}

.contact-form label {
  font-size: var(--body-s-regular-fs);
  line-height: var(--body-s-regular-lh);
  letter-spacing: 0.35px;
}

.column {
  display: flex;
  flex-direction: column;
}

.column {
  margin-bottom: 1.5em;
}

.star {
  color: var(--clr-grey-600);
  margin-left: 0.3em;
}

.inputs {
  margin-top: 0.46em;
}

input,
textarea {
  font-family: inherit;
  cursor: pointer;
  font-size: 1.125rem;
}

input:focus,
textarea:focus {
  outline: 0.001rem solid var(--clr-grey-600);
}

.error:has(.active) .inputs,
.msg-area:has(.active) .inputs {
  border: 1px solid var(--clr-red);
}

.error-msg {
  color: var(--clr-red);
  word-spacing: 0.08em;
  display: none;
  margin-top: 0.5em;
}

.error-msg.active {
  display: block;
}

.query-type {
  border: none;
}

.query-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.query-type legend {
  margin-bottom: 1em;
  font-size: var(--body-s-regular-fs);
  line-height: var(--body-s-regular-lh);
  letter-spacing: 0.35px;
}

.query-type .column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 0;
  margin-top: 0.01em;
}

.query-type label {
  font-size: var(--body-md-regular-18-fs);
  line-height: var(--body-md-regular-18-lh);
  color: var(--clr-grey-900);
  cursor: pointer;
}

.query {
  border: 1px solid var(--clr-grey-500);
  border-radius: 0.5rem;
  padding: 0.69em;
  padding-left: 1.5em;
  display: flex;
  align-items: center;
}

.query label {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.query input[type="radio"] {
  cursor: pointer;
  opacity: 0;
  position: absolute;
}

.query label::before {
  content: "";
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  margin-right: 0.8em;
  border: 1.5px solid rgba(128, 128, 128, 0.417);
}

.query:focus-within {
  background-color: #387b6a38;
  outline: 0.001rem solid var(--clr-grey-600);
}

.query input[type="radio"]:focus + label::before {
  border: 2px solid rgb(10, 91, 10);
}

.query input[type="radio"]:checked + label::before {
  content: "";
  border: none;
  width: 1.25rem;
  height: 1.25rem;
  background: url(/assets/images/icon-radio-selected.svg) no-repeat center
    center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.msg-area {
  padding-top: 1.5em;
}

.msg-area.column {
  gap: 0;
}

.msg-area label {
  font-size: var(--body-s-regular-fs);
  line-height: var(--body-s-regular-lh);
  color: var(--clr-grey-900);
}

.msg-area label .star {
  margin-left: 0.4em;
}

.msg-area textarea {
  border: 1px solid var(--clr-grey-500);
  border-radius: 0.5rem;
  width: 100%;
  margin-top: 0.45em;
  height: 13.3em;
  padding: 1em 1.5em;
  cursor: pointer;
}

.checkbox-container {
  margin-top: 2.5em;
}

.checkbox-container label {
  cursor: pointer;
  display: grid;
  grid-template-columns: 20px 1fr;
  gap: 1.1rem;
  align-items: center;
  position: relative;
}

.checkbox-container .star {
  position: absolute;
  top: 1.5em;
  left: 6.5em;
}

@media (min-width: 381px) {
  .checkbox-container .star {
    top: 1.5em;
    left: 4.8em;
  }
}

@media (min-width: 424px) {
  .checkbox-container .star {
    top: 0.1em;
    left: 21.5em;
  }
}

.checkbox-container input[type="checkbox"] {
  cursor: pointer;
  opacity: 0;
  position: absolute;
}

.checkbox-container label::before {
  content: "";
  width: 18px;
  height: 18px;
  border-radius: 0.15em;
  margin-right: 0.5em;
  border: 0.122em solid var(--clr-grey-500);
}

.checkbox-container input[type="checkbox"]:focus + label::before {
  border: 0.122em solid var(--clr-grey-600);
}

.checkbox-container input[type="checkbox"]:checked + label::before {
  content: "";
  border: none;
  width: 20px;
  height: 20px;
  background: url(/assets/images/icon-checkbox-check.svg) no-repeat center
    center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit {
  width: 100%;
  border: none;
  color: var(--clr-white);
  background-color: var(--clr-grey-600);
  padding: 0.9em;
  margin-top: 2.2em;
  border-radius: 0.5em;
  font-family: inherit;
  font-size: var(--body-md-bold-fs);
  font-weight: var(--body-md-bold-fw);
  line-height: var(--body-md-bold-lh);
  letter-spacing: var(--body-md-bold-ls);
  cursor: pointer;
}

.submit:hover {
  background-color: #1a3e35;
}

.submit:focus {
  outline: none;
  outline: 2px solid var(--clr-grey-500);
}

.success-container {
  position: absolute;
  top: 1.45rem;
  left: 50%;
  background-color: var(--clr-grey-900);
  color: var(--clr-white);
  width: min(100%, 20rem);
  transform: translateX(-50%);
  border-radius: 0.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.success-container.active {
  display: flex;
}

.success-container .wrapper {
  padding: 1.57em 1.5em 1.5em;
}

.success-msg {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  margin-left: 0.1em;
}

.success-header {
  font-size: var(--body-md-regular-18-fs);
  font-weight: var(--body-md-bold-fw);
}

.success-text {
  font-size: var(--body-s-regular-fs);
  margin-top: 0.6em;
  line-height: 24px;
  color: var(--clr-grey-200);
  letter-spacing: 0.014rem;
}
